.mainContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    scroll-snap-type: x mandatory;
    div{
        scroll-snap-align: center;
    }
    @media (min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}
.conteiner-card {
   display: grid;
   grid-template-columns: 1fr;
   *grid-template-rows: 320px;
   grid-gap: 8px; 
   @media (min-width: 656px) {
    grid-template-columns: 1fr 1fr;
   }
   @media (min-width: 986px) {
    grid-template-columns: 1fr 1fr 1fr;
   }
}
