.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}
mat-form-field{
  width: 100%;
}
.datePicker{
  padding-bottom: 1.25rem;
}
form{
  margin-top: 20px;
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 10px;
  }
}
fieldset{
  height: 100%;
}