<div class="login-page">
  <div class="login-spacer"></div>
  <div class="login-container">
    <div id="login-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 class="card-heading">
      Panel de acceso
    </h2>
    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email?.invalid">El email es obligatorio</mat-error>
      </mat-form-field>    
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="password?.invalid">La contraseña es obligatoria</mat-error>
      </mat-form-field>
    </form>
    <div class="buttons">
      <div class="login">
        <!-- <button mat-raised-button color="primary" [disabled]="!loginForm?.valid">Iniciar sesión</button> -->
        <button mat-raised-button color="primary">Iniciar sesión</button>
      </div>
      <div class="register">
        <button mat-button color="primary">He olvidado la contraseña</button>
      </div>      
    </div>
  </div>
</div>