<mat-toolbar color="primary" *ngIf="show">
  <mat-toolbar-row>
    <span id="buttonNav" igxButton="icon" igxToggleAction="navigation" [closeOnOutsideClick]="false">
      <igx-icon fontSet="material" color="white">menu</igx-icon>
    </span>
    <span>{{ selected }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<div class="main igx-typography posre" igxLayout *ngIf="show">
  <igx-nav-drawer id="navigation" [isOpen]="drawerState.open" [(pin)]="drawerState.pin">
    <ng-template igxDrawer>
      <nav>
        <span igxDrawerItem [isHeader]="true">Secciones</span>
          <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple
            (click)="navigate(item)" routerLink="{{ item.url }}">
            <igx-icon fontSet="material">{{ item.name }}</igx-icon>
            <span>{{ item.text }}</span>
          </span>
      </nav>
    </ng-template>

    <ng-template igxDrawerMini *ngIf="drawerState.miniTemplate">
      <nav>
        <span *ngFor="let item of navItems" igxDrawerItem [active]="item.text === selected" igxRipple
          (click)="navigate(item)" routerLink="{{ item.url }}">
          <igx-icon fontSet="material">{{ item.name }}</igx-icon>
        </span>
      </nav>
    </ng-template>
  </igx-nav-drawer>

  <main igxFlex [class.mini-padding]="!drawerState.pin && drawerState.miniTemplate">
    <router-outlet></router-outlet>
  </main>
</div>
