.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

/* Sample styling */
.setting-title {
  margin-bottom: 0;
  color: rgba(228, 28, 119, 0.8)
    /*#e41c77cc*/
  ;
}

.setting-note {
  font-size: 14px;
  color: #484848;
  margin: 4px 0;
}

.igx-nav-drawer__aside::-webkit-scrollbar {
  width: 3px;
  background: #e4e4e4;
}

.igx-nav-drawer__aside::-webkit-scrollbar-thumb {
  background: #0375be;
  border-radius: 0;
}

// CSS Reset, comment out if not required or using a different module
// @import '~minireset.css/minireset';
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);

/* autoprefixer grid: on */
html,
body {
  *height: 100%;
  *overflow: hidden;
  margin: 0;
}

.sample-wrapper {
  width: inherit;
  position: relative;
  *height: 100%;
  margin: 0 auto;
  background: transparent;
}

.sample-content {
  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
  -webkit-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  -moz-animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.sample-column {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 25%;
  align-content: flex-start;
  margin: 16px;
  min-width: 280px;
}

.sample-title {
  color: #0375be;
  margin-bottom: 12px;
  margin-top: 12px;
}

.sample-title .light {
  font-weight: 400;
}

.sample-description {
  font-size: 14px;
  font-weight: normal;
  color: #717171;
}

@-webkit-keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@keyframes color-change-2x {
  0% {
    background: #fdf8f0;
  }

  100% {
    background: #f6e7ec;
  }
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.headerAlignSyle {
  text-align: right !important;
}

$green-palette: igx-palette($primary: #09f, $secondary: #72da67, $surface: #333);

.fin-dark-theme {
  @include igx-dark-theme($green-palette);
  background: #333;

  ::-moz-placeholder {
    opacity: 1;
  }
}

.dark-theme {
  background: #333;
  color: #fff;
  @include igx-dark-theme($green-palette);
}

main {
  padding: 16px;
  overflow: auto;
  box-sizing: border-box;
  @media (max-width: 900px) {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.posre {
  position: absolute;
  top: 56px;
}

.posre aside {
  position: relative;
}

nav a {
  text-decoration: none;
}

@media (min-width: 600px) {
  .posre {
    position: absolute;
    top: 64px;
  }
}
.navigationNone{
  animation: fade-in-None .3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.navigationBlock{
  display: block;
  transition: 1s;
}

@keyframes fade-in-None {
  0% {
    opacity: 1;
    transform: translateY(0deg)
  }

  100% {
    opacity: 0;
    transform: translateY(-500deg)
  }
}
