p a {
  text-decoration: none;
  color: orange;
}

mat-form-field {
  width: 100%;
}

button[type=submit] {
  width: 100%;
}

.container {
  width: 100%;
}

@media (min-width: 600px) {
  .container {
    width: 60%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 40%;
  }
}
