.containerRadios{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.sufridoViolencia{
  margin-bottom: 15px;
}
.buttonsContainer{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
