<form [formGroup]="hateCrimesForm">
  <fieldset class="sufridoViolencia">
    <legend>¿Ha sufrido violencia?</legend>
    <div class="containerRadios">
      <igx-radio
        *ngFor="let sufridoViolencia of afirmacionNegacion"
        [value]="sufridoViolencia.value"
        [(ngModel)]="selectedSufridoViolencia"
        formControlName="sufridoViolencia"
      >
        {{ sufridoViolencia.viewValue }}
      </igx-radio>
    </div>
  </fieldset>
  <div class="agresionesContainer" *ngIf="sufridoViolencia.value == 1">
    <div class="buttonsContainer">
      <button
        type="button"
        mat-raised-button
        color="accent"
        class="addDocumentation"
        (click)="addDocument()"
      >
        <i class="material-icons">add_circle</i>
      </button>
      <button
        type="button"
        mat-raised-button
        color="accent"
        class="addDocumentation"
        (click)="deleteDocument()"
      >
        <i class="material-icons">remove_circle</i>
      </button>
    </div>
    <div
      *ngFor="let loquesea of documentation.controls; let j = index"
      formArrayName="documentation"
    >
      <div [formGroupName]="j">
        <fieldset>
          <legend>Datos Sobre la agresión</legend>

          <mat-form-field class="containerInputs">
            <mat-label>Tipo de documentación </mat-label>
            <mat-select formControlName="documentionType">
              <mat-option
                *ngFor="let tipoDocumento of tiposDocumento"
                [value]="tipoDocumento.value"
              >
                {{ tipoDocumento.viewValue }}
              </mat-option>
              <mat-option [value]="-1">
                Otro
              </mat-option>
              <mat-option [value]="-2">
                Sin Documentación
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="getDocumentation(j).documentionType === -1"
            class="containerInputs"
          >
            <input
              matInput
              type="text"
              formControlName="documentationOtherType"
              placeholder="Tipo Documento"
            />
          </mat-form-field>

          <mat-form-field
            *ngIf="getDocumentation(j).documentionType !== -2"
            class="containerInputs"
          >
            <input
              matInput
              type="text"
              formControlName="documentationNumber"
              placeholder="Nº documentación"
            />
          </mat-form-field>
        </fieldset>
      </div>
    </div>
  </div>
</form>
<button (click)="sendDatos()">Enviar</button>
