<form [formGroup]="hateCrimesForm">
    <input formControlName="hola">


<div class="documentationThatHas">
    <button type='button' mat-raised-button color="accent" class='addDocumentation' (click)="addDocument()"><i class="material-icons">add_circle</i></button>
    <button type='button' mat-raised-button color="accent" class='addDocumentation' (click)="deleteDocument()"><i class="material-icons">remove_circle</i></button>
    <div *ngFor="let loquesea of documentation.controls; let j=index" formArrayName="documentation">
      <div [formGroupName]="j">
          <mat-form-field class="containerInputs">
              <mat-label>Tipo de documentación </mat-label>
              <mat-select formControlName="documentionType" >
                <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.value" >
                  {{tipoDocumento.viewValue}}
                </mat-option>
                <mat-option [value]="-1" >
                  Otro
                  </mat-option>
                <mat-option [value]="-2" >
                  Sin Documentación
                </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="getDocumentation(j).documentionType === (-1)"  class="containerInputs">
              <input matInput type="text" formControlName="documentationOtherType" placeholder="Tipo Documento">
          </mat-form-field>
          <mat-form-field *ngIf="getDocumentation(j).documentionType !== (-2)"  class="containerInputs">
              <input matInput type="text" formControlName="documentationNumber" placeholder="Nº documentación">
          </mat-form-field>
        <!-- <mat-form-field class="containerInputs">
            <mat-label>Tipo de documentación </mat-label>
            <mat-select formControlName="documentionType" (openedChange)='createLackDocumentation()' >
              <mat-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento.value" >
                {{tipoDocumento.viewValue}}
              </mat-option>
              <mat-option [value]="-1" >
                  Otro
                </mat-option>
                <mat-option [value]="-2" >
                  Sin Documentación
                </mat-option>
            </mat-select>
            <mat-form-field *ngIf="documentationType.value === (-1)"  class="containerInputs">
                <input matInput type="text" formControlName="documentationOtherType" placeholder="Tipo Documento">
            </mat-form-field>
            <mat-form-field *ngIf="documentationType.value !== (-2)"  class="containerInputs">
                <input matInput type="text" formControlName="documentationNumber" placeholder="Nº documentación">
            </mat-form-field>
        </mat-form-field> -->
    </div>
  </div>
  </div>
</form>
