<div class="forgot-page">
  <div class="forgot-spacer"></div>
  <div class="forgot-container">
    <div id="forgot-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">mail</i>
    </div>
    <h2 class="card-heading">
      Recuperar contraseña
    </h2>
    <p class="description">¿Has olvidado tu contraseña? No te preocupes, introduce tu correo electrónico a continuación
      y te enviaremos un enlace para poder recuperarla.</p>
    <form class="forgot-form" [formGroup]="forgotForm" (ngSubmit)="sendEmail()">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="email?.invalid">El email es obligatorio</mat-error>
      </mat-form-field>
      <div class="buttons">
        <div class="forgot">
          <button type="submit" mat-raised-button color="primary" [disabled]="!forgotForm?.valid">Recuperar
            contraseña</button>
        </div>
        <div class="back">
          <button routerLink="/" mat-button color="primary">Volver atrás</button>
        </div>
      </div>
    </form>
  </div>
</div>
