<igx-tabs>
    <igx-tabs-group label="Datos identificativos" icon="face">
        <app-identifying-data #identifyingData></app-identifying-data>
        <button mat-raised-button color="primary" (click)='goTo(socioFamiliares)' [disabled]="checkPreviousForm([identifyingData])">Siguiente</button>
    </igx-tabs-group>
    <igx-tabs-group label="Datos sociofamiliares" icon="group" #socioFamiliares [disabled]="checkPreviousForm([identifyingData])">
        <app-family-member-data #familyMemberData></app-family-member-data>
        <button mat-raised-button color="primary" (click)='goTo(hateCrimes)' [disabled]="checkPreviousForm([identifyingData, familyMemberData])">Siguiente</button>
    </igx-tabs-group>
    <igx-tabs-group label="Delitos de odio (violencia contra PSH)" #hateCrimes icon="record_voice_over" [disabled]="checkPreviousForm([identifyingData, familyMemberData])">
      Delitos de odio (violencia contra PSH).
    </igx-tabs-group>
    <igx-tabs-group label="Violencia de género" icon="pan_tool" [disabled]='true'>
      Violencia de género.
    </igx-tabs-group>
    <igx-tabs-group label="Datos formativo-laborales" icon="work" [disabled]='true'>
      Datos formativo-laborales.
    </igx-tabs-group>
    <igx-tabs-group label="Datos económicos" icon="euro_symbol" [disabled]='true'>
      Datos económicos.
    </igx-tabs-group>
    <igx-tabs-group label="Datos sanitarios" icon="healing" [disabled]='true'>Datos sanitarios.</igx-tabs-group>
    <igx-tabs-group label="Datos jurídicos/ legales" icon="gavel" [disabled]='true'> Datos jurídicos/ legales.</igx-tabs-group>
</igx-tabs>
