.container{
    box-sizing: content-box;
    width: 100%;
    div{
        height: 500px;
        margin: 8px 8px 0 0;
    }
}
app-search-personal-file-by-date{
    height: 90%;
    padding: 4px;
    @media (min-width: 700px) {
        width: 40%;
        height: 200px;
    }
}
