<div class="changePassword-page" *ngIf="show">
  <div class="changePassword-spacer"></div>
  <div class="changePassword-container">
    <div id="changePassword-fab" class="mdl-color--accent mdl-color-text--white">
      <i id="lock-icon" class="material-icons">lock</i>
    </div>
    <h2 class="card-heading">
      Cambiar contraseña
    </h2>
    <p class="description">Introduce a continuación tu nueva contraseña.</p>
    <form class="changePassword-form" [formGroup]="changePasswordForm">
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña" formControlName="password">
        <mat-error *ngIf="password?.invalid">La contraseña es obligatoria</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Repite la contraseña" formControlName="confirmPassword">
        <mat-error *ngIf="confirmPassword?.invalid">La contraseña es obligatoria</mat-error>
        <!-- <mat-error class="matched" *ngIf="confirmPassword.touched && changePasswordForm?.errors?.matchPassword">Las contraseñas no coinciden</mat-error> -->
      </mat-form-field>
        <mat-error class="matched" *ngIf="confirmPassword.touched && changePasswordForm?.errors?.matchPassword">Las contraseñas no coinciden</mat-error>
      <div class="buttons">
        <div class="changePassword">
          <!-- <button mat-raised-button color="primary" [disabled]="!changePasswordForm?.valid">Iniciar sesión</button> -->
          <button type="submit" mat-raised-button color="primary" [disabled]="!changePasswordForm?.valid">Aceptar cambios</button>
        </div>
      </div>
    </form>

  </div>
</div>