h2{
  font-size: 2em !important;
  text-align: center;
}
.topContainer{
  display: flex;
  flex-flow: column;
  margin: 20px 0 20px 0;
  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "photoContainer basicDescriptionContainer"
                         "roomsInfoContainer basicDescriptionContainer"
  }
}

.photoContainer{
  grid-area: photoContainer;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  @media (min-width: 800px) {
    width: 100%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: auto;
    width: 100%;
    @media (min-width: 800px) {
      width: 40%;
    }
    max-width: 400px;
    max-height: 400px;
  }
}
.roomsInfoContainer{
  grid-area: roomsInfoContainer;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media (min-width: 800px) {
    width: 100%;
  }
  ul{
    display: flex;
    justify-content: center;
    padding: 0;
    @media (min-width: 800px) {
      padding: 0;
    }
    li{
      list-style: none;
      font-size: 2em;
      margin-right: 20px;
      i{
        font-size: 1em;
        transform: translateY(6px);
      }
    }
  }
  button{
    height: 48px;
  }
}
.basicDescriptionContainer{
  grid-area: basicDescriptionContainer;
  height: 100%;
  width: 100%;
  padding: 20px 0 20px 0;
  box-sizing: content-box;
  @media (min-width: 800px) {
    padding: 0px;
    width: 100%;
  }
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  ul{
    margin:0;
    margin-bottom: 5px;
    padding-left:20px;
    width: 100%;
    @media (min-width: 800px) {
      padding: 0;
    }
    li{
      list-style: none;
      display: flex;
      flex-flow: column;
      color: grey;
      font-size: 1em;
      justify-content: flex-end;
      span{
        margin-top: -3px;
        margin-left: 10px;
        font-size:1.5em;
        color: black;
      }
    }
  }
}


table {
  width: 100%;
}
.overflowTable{
  height: 150px;
  overflow: auto;
  scrollbar-color: #dddddd white;
  scrollbar-width: thin;
}
.overflowTable::-webkit-scrollbar{
  width: 7px;
}

.overflowTable::-webkit-scrollbar-thumb{
  background: #dddddd;
  border-radius: 7px;
}

th.mat-sort-header-sorted {
  color: black;
}
.hierarchicalGrid{
  width: 100%;
  max-height: 500px;
}
.igx-grid__tbody-content{
  width: 100%;
}
.inHome{
  *margin-left: 48px;
  padding: 8px;
  background: orange !important;
}
