h2{
  font-size: 2em !important;
  text-align: center;
}
.topContainer{
  display: flex;
  flex-flow: column;
  @media (min-width: 800px) {
    height: 40vh;
    flex-flow: row;
  }
}
.photoContainer{
  height: 100%;
  width: 100%;
  @media (min-width: 800px) {
    width: 50%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: auto;
    width: 100%;
    @media (min-width: 800px) {
      width: 40%;
    }
    max-width: 400px;
  }
}
.basicDescriptionContainer{
  height: 100%;
  width: 100%;
  @media (min-width: 800px) {
    width: 50%;
  }
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
  ul{
    margin:0;
    margin-bottom: 5px;
    @media (min-width: 800px) {
      padding: 0;
    }
    li{
      list-style: none;
      display: flex;
      flex-flow: column;
      color: grey;
      font-size: 1em;
      justify-content: flex-end;
      span{
        margin-top: -3px;
        margin-left: 10px;
        font-size:1.5em;
        color: black;
      }
    }
  }
}
.documetationContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    margin-right: 10px;
  }
}
.roomsInfoContainer{
  width: 100%;
  margin: 30px auto;
  @media (min-width: 800px) {
    width: 60%;
  }
  ul{
    display: flex;
    justify-content: center;
    @media (min-width: 800px) {
      padding: 0;
    }
    li{
      list-style: none;
      font-size: 2em;
      margin-right: 20px;
      i{
        font-size: 1em;
        transform: translateY(6px);
      }
    }
  }
}

.tableSortingContainer{
  width: 100%;
  margin: 30px auto;
  @media (min-width: 800px) {
    width: 60%;
  }
}
table {
  width: 100%;
}
.overflowTable{
  height: 150px;
  overflow: auto;
  scrollbar-color: #dddddd white;
  scrollbar-width: thin;
}
.overflowTable::-webkit-scrollbar{
  width: 7px;
}

.overflowTable::-webkit-scrollbar-thumb{
  background: #dddddd;
  border-radius: 7px;
}

th.mat-sort-header-sorted {
  color: black;
}
.hierarchicalGrid{
  width: 100%;
  max-height: 500px;
}
.igx-grid__tbody-content{
  width: 100%;
}
