<h2>Ficha Personal.</h2>
<div class='topContainer'>
  <div class='photoContainer'>
    <img [src]="srcImagen" alt="">
  </div>
  <div class='basicDescriptionContainer'>
  <ul>
    <li>Nombre: <span>{{nombre}}</span></li>
    <li>Apellidos: <span>{{apellido1}} {{apellido2}}</span></li>
    <li *ngIf="nacionalidad">Nacionalidad: <span>{{nacionalidad}}</span></li>
    <li *ngIf="paisNacimiento">País Nacimiento: <span>{{paisNacimiento}}</span></li>
    <li *ngIf="fechaNacimiento">Fecha Nacimiento <span>{{fechaNacimiento}}</span></li>
  </ul>
  </div>
</div>
<div class='roomsInfoContainer'>
  <ul>
    <li><i class="material-icons">meeting_room</i> {{nHabitacion}}</li>
    <li><i class="material-icons">airline_seat_individual_suite</i> {{nCama}}</li>
  </ul>
</div>
<div class='tableSortingContainer'>
  <div class= 'overflowTable mat-elevation-z8'>
    <table mat-table [dataSource]="dataSource" matSort class="">
      <ng-container matColumnDef="nRegistro">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> nº Registro </th>
          <td mat-cell *matCellDef="let element"> {{element.nRegistro}} </td>
        </ng-container>
      <ng-container matColumnDef="fechaEntrada">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Entrada </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaEntrada}} </td>
      </ng-container>

      <ng-container matColumnDef="fechaSalida">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Salida </th>
        <td mat-cell *matCellDef="let element"> {{element.FechaSalida}} </td>
      </ng-container>

      <ng-container matColumnDef="habitacion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Habitación </th>
        <td mat-cell *matCellDef="let element"> {{element.habitacion}} </td>
      </ng-container>

      <ng-container matColumnDef="cama">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cama </th>
        <td mat-cell *matCellDef="let element"> {{element.cama}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>

