.registrationForm-page {
  width: 100%;
  margin-top: 8px;
}

.myH2 {
  text-align: center;
  font-size: 2em !important;
}

.registrationForm-container {
  margin: auto;
  width: 250px;
  background-color: #fff;

  @media (min-width: 800px) {
    width: 75%;
  }
}

button[type=submit] {
  margin-top: 10px;
}


.registrationForm-form {
  display: flex;
  flex-direction: column;
}

.formRight mat-form-field,
.containerInput,
.formRight button,
.containerRadios,
.formRight {
  width: 100%;
}
.containerInput,
.containerRadios{
  padding-bottom: 20px;
}
.formularioContainer {
  display: flex;
  flex-flow: column;
  .formHeader{
    display: flex;
    flex-flow: column;
    @media (min-width: 800px) {
      flex-flow: row;
    }
  }
  .formLeft,
  .formRight {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .footerFormLeft {
      text-align: center;
    }
  }
  .formBody{
    width: 100%;
    display: flex;
    flex-flow: column;
    @media (min-width: 800px){
      flex-flow: row;
    }
    .containerDocumentation{
      display: flex;
      flex-flow: column;
      width: 100%;
      @media (min-width: 800px) {
        width: 50%;
      }
      .containerAddDocumentation{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button{
          width: 80%;
          @media (min-width: 800px) {
            width: 50%;
          }
        }
      }
      .containerInputsDocumentation{
        display: flex;
        width: 100%;
        .type_documentation{
          display: flex;
          flex-flow: column;
          width: 30%;
        }
        .documentation{
          margin-left: 10px;
          display: flex;
          flex-flow: column;
          width: 70%;
        }
        .containerInputs{
          width: 100%;
        }
      }

      }
      .containerTextArea{
        width: 100%;
        @media (min-width: 800px) {
          width: 50%;
          padding-left: 16px;
        }

        box-sizing: content-box;
        textarea{
          width: 100%;
          height: 75px;
        }
    }
  }


  img {
    width: 150px;
    height: auto;
    max-height: 300px;
    margin-bottom: 10px;
  }
  .containerSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      width: 40%;
    }
  }
  .containerRadios{
    display: flex;
    justify-content: space-around;
  }
  @media (min-width: 800px) {


    .formRight {
      width: 50%;
    }

    .formLeft {
      width: 50%;
    }

    img {
      width: 200px;
    }

    .myH2 {
      font-size: 2em !important;
    }
  }
  // .mat-form-field-infix{
  //   border: 0;
  //   border-top:0;
  // }
  // .igx-input-group__bundle{
  //   padding: 0;
  // }
}
