.registrationForm-page {
  width: 100%;
  margin-top: 8px;
}

.myH2 {
  text-align: center;
  font-size: 2em !important;
}

.registrationForm-container {
  margin: auto;
  width: 250px;
  background-color: #fff;

  @media (min-width: 800px) {
    width: 75%;
  }
}

button[type=submit] {
  margin-top: 10px;
}
.addDocumentation {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.registrationForm-form {
  display: flex;
  flex-direction: column;
}

.formRight mat-form-field,
.formRight button,
.formRight {
  width: 100%;
}

.formularioContainer {
  display: flex;

  .formLeft,
  .formRight {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    .footerFormLeft {
      text-align: center;
    }
    .containerDocumentation{
      display: flex;
      flex-flow: column;
      .containerInputsDocumentation{
        display: flex;
        .type_documentation{
          display: flex;
          flex-flow: column;
          width: 30%;
        }
        .documentation{
          margin-left: 10px;
          display: flex;
          flex-flow: column;
          width: 70%;
        }
      }
    }
  }

  img {
    width: 150px;
    height: auto;
    max-height: 300px;
    margin-bottom: 10px;
  }

  @media (min-width: 800px) {
    flex-flow: row;

    .formRight {
      width: 50%;
    }

    .formLeft {
      width: 50%;
    }

    img {
      width: 200px;
    }

    .myH2 {
      font-size: 7em !important;
    }
  }

}
