.registrationForm-page {
  height: 100vh;
  width: 100%;
}

.registrationForm-spacer {
  height: 20vh;
}

.registrationForm-container {
  margin: auto;
  width: 250px;
  padding: 2vh;
  background-color: #fff;
}

.registrationForm-form {
  display: flex;
  flex-direction: column;
}
