<div class="registrationForm-page">
  <h2 class="myH2">Ficha personal</h2>
  <div class="registrationForm-container">
    <form class="registrationForm-form formularioContainer" [formGroup]="registrationForm"
      (ngSubmit)="registrationForm.valid ? sendData(): null">
      <div class='formLeft'>
        <img [src]="urlImagen" alt="">
        <div class="footerFormLeft">
          <button type="button" mat-raised-button (click)="fileInput.click()" color="accent">Seleccionar imagen</button>
          <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="image/*">
        </div>
      </div>
      <div class='formRight'>
        <mat-form-field>
          <input matInput type="text" placeholder="Nombre" formControlName="name">
          <mat-error *ngIf="name?.invalid">El nombre es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Apellidos" formControlName="surnames">
          <mat-error *ngIf="surnames?.invalid">Los apellidos son obligatorios</mat-error>
        </mat-form-field>
        <div class="dni_datepicker">
          <mat-form-field>
            <mat-label>Tipo de documentación</mat-label>
            <mat-select>
              <mat-option *ngFor="let document of documents" [value]="document.value">
                {{document.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="documentacion">
            <input matInput type="text" placeholder="Documento de identidad" formControlName="document">
            <mat-error *ngIf="dni?.invalid">El documento de identidad es obligatorio</mat-error>
          </mat-form-field>
        </div>
        <button type="submit" mat-raised-button color="primary">Crear ficha</button>
      </div>
    </form>
  </div>
</div>