.header {
    text-align: right;

    igx-input-group {
      @media (min-width: 712px) {
        flex-basis: 60%;
      }
    }

    button {
      margin-bottom: 16px;
    }

    @media (min-width: 712px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .name_avatar:hover {
    cursor: pointer;
  }

  .search {
    margin-bottom: 16px;
  }

  table {
    width: 100%;
  }

  .table-container {
    height: 75vh;
    overflow: auto;
  }

  .igx-avatar {
    margin-right: 8px;
  }

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    @media (max-width: 800px) {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
    }
  }
  .button_expedient{
      min-width: 170px;
  }

